<!DOCTYPE html>

<html lang="ID">

<body>

 <fieldset>

 <legend><h1>Formulir Pendaftaran Kursus Pemrograman</h1> </legend>

 <p>

 <label>Nama :</label>

 <input type="text" name="nama" placeholder="nama lengkap">

 </p>

 <p>

 <label>Username :</label>

 <input type="text" name="username" placeholder="username">

 </p>

 <p>

 <label>Password :</label>

 <input type="text" name="password" placeholder="password">

 </p>

 <p>

 <label>Jenis Kelamin :</label>

 <input type="radio" name="jk" value="laki-laki">Laki-laki

 <input type="radio" name="jk" value="perempuan">Perempuan

 </p>
 <p>

 <label>Tanggal Lahir :</label>

 <input type="date" name="tanggal">

 </p>

 <p>

 <label>Program Studi :</label>

 <select name="Program Studi">

 <option value="Buku-Tulis">buku tulis</option>

 <option value="fashion">Baju</option> 

 <option value="hp">HP</option>

 </select>

 </p>

 <p>

 <label>Email :</label>

 <input type="email" name="email" placeholder="email">

 </p>

 <p>

 <label>Bahasa Pemgrograman yang dikuasai:</label>

 <input type="checkbox" name="html">HTML & CSS

 <input type="checkbox" name="javascript">Javascript

 <input type="checkbox" name="php">PHP

 <input type="checkbox" name="java">JAVA

 </p>

 <p>

 <p>Alamat :</p>

 <textarea name="alamat"cols="50" rows="3"></textarea>

 </p>

 <p>

 <input type="submit" name="submit" value="Daftar">

 </p>

 </fieldset>

</form>

</body>

</html>